{% extends 'base.html' %}

{% block content%}
<div style="min-height: 70%;" class= " center-column1">
	<div class=" d-flex justify-content-center" >
<form method="POST">
	{%csrf_token%}
	
	<div>
		<p>Are You sure you want to delete task <b>{{obj}}</b> <strong>{{task}}</strong></p>
	<button class="btn btn-danger" >Yes, Delete!</button>
	<a href="/" class="btn btn-dark"> Cancel </a>
</div>
</form>

<footer style="position: absolute; bottom: 10px" class="text-md-center ">made with <b class="text-danger">&hearts;</b> by Johnpaul</footer>
</div>
</div>
{%endblock content%}