{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}


   <div class="center-column">
      
<div class="alert alert-success"><strong>Tasks</strong> </div>

<form method="POST" >
   {%csrf_token%}
   <div> {{form.title}}</div>
   <div> 
      <div><input class="card-body" type="submit" name="new_task" value="Submit" ></div>
</div>
</form>
<div class = 'todo-list'>
{% for task in tasks %}
<div class="item-row">{{task}}<br>
<a class="btn btn-outline-success" href="{% url 'update' task.id %}">Edit</a>
<a class="btn btn-outline-danger" href="{% url 'delete' task.id %}">Delete</a>
</div>
{% endfor %}
   </div>
</div>


{%endblock content%}